<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.CarMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.Car">
    <id column="CarId" jdbcType="INTEGER" property="carId" />
    <result column="CarName" jdbcType="VARCHAR" property="carName" />
    <result column="CarType" jdbcType="INTEGER" property="carType" />
    <result column="CarClient" jdbcType="VARCHAR" property="carClient" />
    <result column="CarState" jdbcType="INTEGER" property="carState" />
  </resultMap>
  
   <resultMap id="CarMap" type="com.neusoft.pojo.Car">
    <id column="CarId" jdbcType="INTEGER" property="carId" />
    <result column="CarName" jdbcType="VARCHAR" property="carName" />
    <result column="CarType" jdbcType="INTEGER" property="carType" />
    <result column="CarClient" jdbcType="VARCHAR" property="carClient" />
    <result column="CarState" jdbcType="INTEGER" property="carState" />
    
    <association property="cartype" javaType="com.neusoft.pojo.Cartype">
     <id column="carTypeId" jdbcType="INTEGER" property="carTypeId" />
     <result column="carTypeName" jdbcType="VARCHAR" property="carTypeName" />
    </association>  
    
  </resultMap>
  
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CarId, CarName, CarType, CarClient, CarState
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.pojo.CarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car
    where CarId = #{carId,jdbcType=INTEGER}
  </select>
  
  <select id="count"  parameterType="com.neusoft.pojo.Car" resultType="int">
  
  select count(*) from Car 
  <where>
  <if test="carState!=null">
  carState = #{carState}
  </if>
  </where> 
  </select>
  
 
 
 
  <select id="selectCar" resultMap="CarMap" parameterType="java.util.HashMap"> 
  select 
  <include refid="Base_Column_List"></include>,carTypeName from
  Car,Cartype where CarType = carTypeId and 1=1 
  <if test="carState!=null">
  and 
  carState=#{carState}
  </if>
  <if test="start!=null and size!=null and flag!=null">
            limit #{start},#{size}
        </if>
  </select>
  
 
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car
    where CarId = #{carId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.pojo.CarExample">
    delete from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.pojo.Car">
    insert into car (CarId, CarName, CarType, 
      CarClient, CarState)
    values (#{carId,jdbcType=INTEGER}, #{carName,jdbcType=VARCHAR}, #{carType,jdbcType=INTEGER}, 
      #{carClient,jdbcType=VARCHAR}, #{carState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.pojo.Car">
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        CarId,
      </if>
      <if test="carName != null">
        CarName,
      </if>
      <if test="carType != null">
        CarType,
      </if>
      <if test="carClient != null">
        CarClient,
      </if>
      <if test="carState != null">
        CarState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="carName != null">
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=INTEGER},
      </if>
      <if test="carClient != null">
        #{carClient,jdbcType=VARCHAR},
      </if>
      <if test="carState != null">
        #{carState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.pojo.CarExample" resultType="java.lang.Long">
    select count(*) from car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update car
    <set>
      <if test="record.carId != null">
        CarId = #{record.carId,jdbcType=INTEGER},
      </if>
      <if test="record.carName != null">
        CarName = #{record.carName,jdbcType=VARCHAR},
      </if>
      <if test="record.carType != null">
        CarType = #{record.carType,jdbcType=INTEGER},
      </if>
      <if test="record.carClient != null">
        CarClient = #{record.carClient,jdbcType=VARCHAR},
      </if>
      <if test="record.carState != null">
        CarState = #{record.carState,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update car
    set CarId = #{record.carId,jdbcType=INTEGER},
      CarName = #{record.carName,jdbcType=VARCHAR},
      CarType = #{record.carType,jdbcType=INTEGER},
      CarClient = #{record.carClient,jdbcType=VARCHAR},
      CarState = #{record.carState,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.pojo.Car">
    update car
    <set>
      <if test="carName != null">
        CarName = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        CarType = #{carType,jdbcType=INTEGER},
      </if>
      <if test="carClient != null">
        CarClient = #{carClient,jdbcType=VARCHAR},
      </if>
      <if test="carState != null">
        CarState = #{carState,jdbcType=INTEGER},
      </if>
    </set>
    where CarId = #{carId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.pojo.Car">
    update car
    set CarName = #{carName,jdbcType=VARCHAR},
      CarType = #{carType,jdbcType=INTEGER},
      CarClient = #{carClient,jdbcType=VARCHAR},
      CarState = #{carState,jdbcType=INTEGER}
    where CarId = #{carId,jdbcType=INTEGER}
  </update>
</mapper>