<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.FeedbacktypeMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.pojo.Feedbacktype">
    <id column="FeedbackTypeId" jdbcType="INTEGER" property="feedbackTypeId" />
    <result column="FeedbackTypeName" jdbcType="VARCHAR" property="feedbackTypeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FeedbackTypeId, FeedbackTypeName
  </sql>
  <select id="selectByExample" parameterType="com.neusoft.pojo.FeedbacktypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from feedbacktype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  
  <select id="selectAllftype" resultMap="BaseResultMap">
  
  select * from feedbacktype
  
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from feedbacktype
    where FeedbackTypeId = #{feedbackTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from feedbacktype
    where FeedbackTypeId = #{feedbackTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.pojo.FeedbacktypeExample">
    delete from feedbacktype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.pojo.Feedbacktype">
    <selectKey keyProperty="feedbackTypeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feedbacktype (FeedbackTypeName)
    values (#{feedbackTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.pojo.Feedbacktype">
    <selectKey keyProperty="feedbackTypeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feedbacktype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="feedbackTypeName != null">
        FeedbackTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="feedbackTypeName != null">
        #{feedbackTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.pojo.FeedbacktypeExample" resultType="java.lang.Long">
    select count(*) from feedbacktype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update feedbacktype
    <set>
      <if test="record.feedbackTypeId != null">
        FeedbackTypeId = #{record.feedbackTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.feedbackTypeName != null">
        FeedbackTypeName = #{record.feedbackTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update feedbacktype
    set FeedbackTypeId = #{record.feedbackTypeId,jdbcType=INTEGER},
      FeedbackTypeName = #{record.feedbackTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.pojo.Feedbacktype">
    update feedbacktype
    <set>
      <if test="feedbackTypeName != null">
        FeedbackTypeName = #{feedbackTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where FeedbackTypeId = #{feedbackTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.pojo.Feedbacktype">
    update feedbacktype
    set FeedbackTypeName = #{feedbackTypeName,jdbcType=VARCHAR}
    where FeedbackTypeId = #{feedbackTypeId,jdbcType=INTEGER}
  </update>
</mapper>